.cls-1 {
    fill: #666766;
  }

  .cls-2 {
    fill: #4d4d4d;
  }

  .cls-3 {
    fill: #e6e7e8;
  }

  .cls-4 {
    fill: gray;
  }

  .cls-5 {
    fill: #333;
  }

  .cls-6 {
    fill: #919191;
  }

  .cls-7 {
    fill: #276d7b;
    opacity: 0.75;
  }

  .cls-8, .cls-9 {
    fill: #fff;
  }

  .cls-9 {
    font-size: 37.784px;
    font-family: Montserrat-Medium, Montserrat;
    font-weight: 500;
  }

  .cls-10 {
    letter-spacing: -0.007em;
  }

  .cls-11 {
    letter-spacing: 0em;
  }

  .cls-12 {
    letter-spacing: 0.003em;
  }

  .cls-13 {
    letter-spacing: 0em;
  }

  .cls-14 {
    letter-spacing: -0.01em;
  }

  .cls-15 {
    letter-spacing: -0.008em;
  }

  .cls-16 {
    letter-spacing: 0.015em;
  }

  .cls-17 {
    letter-spacing: -0.005em;
  }