.sphere-1 {
    fill: #276d7b;
  }

  .sphere-2 {
    fill: #fff;
  }

  .sphere-3 {
    fill: #f1613d;
  }

  .sphere-4 {
    fill: #b673b0;
  }

  .sphere-5 {
    fill: #fedf00;
  }

  .sphere-6 {
    fill: #333;
  }

  .sphere-7 {
    fill: #044953;
  }

  .sphere-8 {
    fill: #e6e6e6;
  }

  .sphere-9 {
    fill: #86aa49;
  }