.section_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 2.5fr;
  gap: 1px 1px;
  grid-template-areas: "section_header" "section_content";
}

.section_header_wrapper {
  width: 100vw;
  box-shadow: 0px 60px 121px -84px rgba(0, 0, 0, 0.35);
  z-index: 100;
}

.section_header {
  grid-area: section_header;
  max-width: 500px;
  margin: 0 25px;
  padding: 10px 0 20px 0;
  align-self: center;
  justify-self: center;
}

.section_content {
  grid-area: section_content;
}

.app_container {
  height: 460px;
  overflow: scroll;
}
