.section_container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 2.5fr;
  gap: 1px 1px;
  grid-template-areas: "section_header" "section_content";
  justify-items: center;
}

.section_header_wrapper {
  width: 100vw;
  box-shadow: 0px 60px 121px -84px rgba(0, 0, 0, 0.35);
  z-index: 100;
  display: flex;
  justify-content: center;
}

.section_header {
  grid-area: section_header;
  margin: 0 auto;
  /* padding: 10px 25px 20px 25px; */
}

.section_content {
  grid-area: section_content;
}

.app_container {
  overflow: scroll;
  max-width: 730px;
}
