.serve_op_container {
  margin: 0;
  width: 100%;
}

.serveOp_container_header {
  top: -1px;
  padding: 20px 0 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: sticky;
  z-index: 50;
  background-color: #f7f7f7;
  box-shadow: 0px 8px 15px 19px #f7f7f7;
}

.serveOp_card_grid_container {
  overflow: scroll;
  padding: 30px 15px 15px 15px;
}

.search_input {
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #333;
  width: 80%;
  color: #333;
  padding: 10px 0;
  margin: 20px 0 0 0;
  font-size: 1.25rem;
}

.search_input:focus {
  outline: blue;
}

.serve_op_title {
  text-transform: capitalize;
}
