.serve_op_container {
  margin: 0;
}

.serveOp_container_header {
  top: -1px;
  padding: 10px 10px 0 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: sticky;
  z-index: 50;
  background-color: #f7f7f7;
  box-shadow: 0px 8px 15px 19px #f7f7f7;
}

.serveOp_card_grid_container {
  overflow: scroll;
  padding: 30px 15px 15px 15px;
}
